.card {
    width: 350px;
    height: 250;
  }
  
  .header-image {
    background-color: grey;
    background-size: cover;
  }
  
  .usuario{
    font-weight: bold;
  }
  
  .profesional{
    display:flex;
    flex-direction: row;
    gap:0.2em;
    margin-bottom: 0.2em;
  }
  
  .profesional p:first-child{
    font-weight: bold;
  }
  mat-label{
    margin: 3em;
  }