<div class="search">
  <mat-label>Profesional: </mat-label>
  <mat-form-field style="width: 300px;">
    <mat-select placeholder="Todos" [(ngModel)]="selectedValue" (selectionChange)="search($event.value)">
      <input matInput placeholder="Buscar">
      <mat-option *ngFor="let profesional of profesionales" [value]="profesional.id">
        {{profesional.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>




<mat-grid-list cols="3" rowHeight="12em">
    <ng-container>
      <div *ngFor="let aviso of selectedAvisos" class="resenas">
        <mat-grid-tile class="grid-elem">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-subtitle class="usuario"><p>Aviso del profesional: {{aviso.nombre}}</p></mat-card-subtitle>
            <mat-card-subtitle class="profesional"><p>Fecha: </p><p>{{aviso.fechaPublicacion}}</p></mat-card-subtitle>
            <mat-card-subtitle><p>Titulo: {{aviso.titulo}}</p></mat-card-subtitle>
            <mat-card-subtitle><p>Contenido: {{aviso.contenido}} </p></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
      </div>
  </ng-container>
</mat-grid-list>