
  <mat-card class="card">
    <button class="close" mat-button (click)="onNoClick()">X</button>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-subtitle class="usuario"><p>{{data.user}}</p></mat-card-subtitle>
      <mat-card-subtitle class="profesional"><p>Profesional: </p><p>{{data.profesional}}</p></mat-card-subtitle>
      <mat-card-subtitle class="profesional"><p>Publicada: </p><p>{{data.fechaPublicacion}}</p></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p >
        {{data.comment}}
      </p>
    </mat-card-content>
  </mat-card>
    
 



