
<div class="search mt-3">
  <mat-label>Profesional: </mat-label>
  <mat-form-field style="width: 300px;">
    <mat-select placeholder="Todos" [(ngModel)]="selectedValue" (selectionChange)="search($event.value)">
      <input matInput placeholder="Buscar">
      <mat-option *ngFor="let profesional of profesionales" [value]="profesional.id">
        {{profesional.nombre}}</mat-option>
      </mat-select>
  </mat-form-field>
  <button *ngIf="selectedValue !== undefined" type="button" class="btn btn-primary ml-3" (click)="createResena()">Nueva Reseña</button>
</div>



<mat-grid-list cols="3" rowHeight="12em">
  <ng-container>
    <div *ngFor="let resena of selectedResenas" class="resenas">
      <mat-grid-tile class="grid-elem">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-subtitle class="usuario"><p>{{resena.usuario.nombre}}</p></mat-card-subtitle>
          <mat-card-subtitle class="profesional"><p>Profesional: </p><p>{{resena.profesional.nombre}}</p></mat-card-subtitle>
          <mat-card-subtitle class="profesional"><p>Publicada: </p><p>{{resena.fechaPublicacion}}</p></mat-card-subtitle>
          
        </mat-card-header>
        <mat-card-content>
          <p >
            {{textoSuperiorALimite(resena.comentario)}}<button mat-button *ngIf="showMore" (click)="mostrarMas(resena)" class="moreText btn-primary">Ver más</button>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    </div>
</ng-container>
</mat-grid-list>




