

<ng-container *ngIf="id.value==null; else elseChange1">
    <h2>Creacion de Aviso </h2>
</ng-container>
<ng-template #elseChange1>
    <h2>Actualización de Aviso</h2>
  </ng-template>
<div mat-dialog-content style="width: 500px;">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        
        <mat-form-field style="width: 400px;" >
            <input placeholder="Ingrese el titulo del aviso" autocomplete="off" name="titulo" id="titulo" type="text" matInput [formControl]="titulo" >
        </mat-form-field>
        <br>
        <br>

        <mat-form-field style="width: 400px;">
            <input placeholder="Ingrese el contenido del aviso" autocomplete="off" name="contenido" id="contenido" type="text" matInput [formControl]="contenido" >
        </mat-form-field>



    </form>
  

</div>

  
  
<div style="justify-content: center;" mat-dialog-actions>
  <button mat-button (click)="cancelar()" style="background-color: #e42222;">Cancelar</button>
  <ng-container *ngIf="id.value==null; else elseChange">
    <button mat-button (click)="crearAviso()"   cdkFocusInitial style="background-color: #4caf50;">Crear Aviso</button>
  </ng-container>
  <ng-template #elseChange>
    <button mat-button (click)="actualizarAviso()"   cdkFocusInitial style="background-color: #4caf50;">Actualizar Aviso</button>

  </ng-template>
 
  
</div>